<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>个人中心</title>
		<meta name="description" content="">
		<meta name="keywords" content="user">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<link rel="icon" type="image/png" href="assets/i/favicon.png">
		<link rel="apple-touch-icon-precomposed" href="assets/i/app-icon72x72@2x.png">
		<meta name="apple-mobile-web-app-title" content="Amaze UI" />
		<link rel="stylesheet" href="stylesheets/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="stylesheets/assets/css/admin.css">
		<link rel="stylesheet" href="stylesheets/admin.css">
		<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

		<!--[if (gte IE 9)|!(IE)]><!-->
		<!--<script src="assets/js/jquery.min.js"></script>-->
		<!--<![endif]-->
		<script type="text/javascript" src="javascripts/polyfill.js"></script>
		<script type="text/javascript" src="javascripts/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="javascripts/axios.min.js"></script>
		<script type="text/javascript" src="javascripts/vue.min.js"></script>
		<script type="text/javascript" src="javascripts/jquery.cookie.js"></script>
		<script src="stylesheets/assets/js/amazeui.min.js"></script>

		<script src="stylesheets/assets/js/app.js"></script>
		<script type="text/javascript" src="javascripts/adminindex.js"></script>

	</head>

	<body>
		<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

		<header class="am-topbar am-topbar-inverse admin-header">
			<div class="am-topbar-brand">
				<div class="mir-tx" id="geren" style="margin-top: 9px;">
					<img id="myimg1" src="images/meinv.jpg" />
				</div>
				<p id="myN"></p>
			</div>

			<button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only" data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span class="am-icon-bars"></span></button>

			<div class="am-collapse am-topbar-collapse" id="topbar-collapse">

				<ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list">
					<!--<li>
						<a href="javascript:;"><span class="am-icon-envelope-o"></span> 收件箱 <span class="am-badge am-badge-warning">5</span></a>
					</li>
					<li class="am-dropdown" data-am-dropdown>
						<a class="am-dropdown-toggle" data-am-dropdown-toggle href="javascript:;">
							<span class="am-icon-users"></span> 管理员 <span class="am-icon-caret-down"></span>
						</a>
						<ul class="am-dropdown-content">
							<li>
								<a href="#"><span class="am-icon-user"></span> 资料</a>
							</li>
							<li>
								<a href="#"><span class="am-icon-cog"></span> 设置</a>
							</li>
							<li>
								<a href="#"><span class="am-icon-power-off"></span> 退出</a>
							</li>
						</ul>
					</li>-->
					<li class="am-hide-sm-only">
						<a href="javascript:;" id="admin-fullscreen"><span class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a>
					</li>
				</ul>
			</div>
		</header>

		<div class="am-cf admin-main">
			<!-- sidebar start -->
			<div class="admin-sidebar am-offcanvas" id="admin-offcanvas">
				<div class="am-offcanvas-bar admin-offcanvas-bar">
					<ul class="am-list admin-sidebar-list">
						<li>
							<a href="/"><span class="am-icon-home"></span> 首页</a>
						</li>
						<li class="admin-parent">
							<a class="am-cf" data-am-collapse="{target: '#collapse-nav'}"><span class="am-icon-file"></span> 页面模块 <span class="am-icon-angle-right am-fr am-margin-right"></span></a>
							<ul class="am-list am-collapse admin-sidebar-sub am-in" id="collapse-nav">
								<li id="isme">
									<a class="am-cf"><span class="am-icon-check"></span> 个人资料<span class="am-icon-star am-fr am-margin-right admin-icon-yellow"></span></a>
								</li>
								<!--<li><a href="admin-help.html"><span class="am-icon-puzzle-piece"></span> 帮助页</a></li>
            <li><a href="admin-gallery.html"><span class="am-icon-th"></span> 相册页面<span class="am-badge am-badge-secondary am-margin-right am-fr">24</span></a></li>
            <li><a href="admin-log.html"><span class="am-icon-calendar"></span> 系统日志</a></li>
            <li><a href="admin-404.html"><span class="am-icon-bug"></span> 404</a></li>-->
							</ul>
						</li>
						<li>
							<a href="file"><span class="am-icon-table"></span> 发表文章</a>
						</li>
						<li id="mefile">
							<a><span class="am-icon-list-alt"></span> 我的文章</a>
						</li>
						<!--<li>
							<a href="admin-form.html"><span class="am-icon-pencil-square-o"></span> 表单</a>
						</li>-->
						<!--<li>
							<a href="#"><span class="am-icon-sign-out"></span> 注销</a>
						</li>-->
					</ul>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-bookmark"></span> 公告</p>
							<p>时光静好，与君语；细水流年，与君同。—— 记忆</p>
						</div>
					</div>

					<div class="am-panel am-panel-default admin-sidebar-panel">
						<div class="am-panel-bd">
							<p><span class="am-icon-tag"></span>个性签名</p>
							<p>欢迎来到记忆的个人中心</p>
						</div>
					</div>
				</div>
			</div>
			<!-- sidebar end -->

			<!-- content start -->
			<div class="admin-content">
				<div class="admin-content-body">
					<div class="am-cf am-padding am-padding-bottom-0">
						<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">个人资料</strong> / <small>Personal information</small></div>
					</div>

					<hr/>

					<div class="am-g">
						<div class="am-u-sm-12 am-u-md-4 am-u-md-push-8">
							<div class="am-panel am-panel-default">
								<div class="am-panel-bd">
									<div class="am-g">
										<div class="am-u-md-4">
											<img id="myimg" class="am-img-circle am-img-thumbnail" src="http://s.amazeui.org/media/i/demos/bw-2014-06-19.jpg?imageView/1/w/200/h/200/q/80" alt="" />
										</div>
										<div class="am-u-md-8">

											<form ref='uploadForm' id='uploadForm' action='/profile' method='post' encType="multipart/form-data">
												<input id="mtt" type="file" name="pic" onchange="showPicture(this)" />
												<input type='button' id="pic" value='上传头像' class="uploading" />
											</form>
										</div>
									</div>
								</div>
							</div>

							<div class="am-panel am-panel-default">
								<div class="am-panel-bd">
									<div class="user-info">
										<p>等级信息</p>
										<div class="am-progress am-progress-sm">
											<div class="am-progress-bar" style="width: 60%"></div>
										</div>
										<p class="user-info-order">当前等级：<strong>LV8</strong> 活跃天数：<strong>587</strong> 距离下一级别：<strong>160</strong></p>
									</div>
									<div class="user-info">
										<p>信用信息</p>
										<div class="am-progress am-progress-sm">
											<div class="am-progress-bar am-progress-bar-success" style="width: 80%"></div>
										</div>
										<p class="user-info-order">信用等级：正常当前 信用积分：<strong>80</strong></p>
									</div>
								</div>
							</div>

						</div>

						<div class="am-u-sm-12 am-u-md-8 am-u-md-pull-4">
							<form class="am-form am-form-horizontal">
								<div class="am-form-group">
									<label for="user-name" class="am-u-sm-3 am-form-label">昵称</label>
									<div class="am-u-sm-9">
										<input type="text" id="user-name" placeholder="昵称">
										<small>输入你的个性化昵称，让我们记住你。</small>
									</div>
								</div>

								<div class="am-form-group">
									<label for="user-email" class="am-u-sm-3 am-form-label">电子邮件</label>
									<div class="am-u-sm-9">
										<input type="email" readonly="readonly" id="user-email" placeholder="输入你的电子邮件 / Email">
										<small>邮箱你懂得...</small>
									</div>
								</div>

								<!--<div class="am-form-group">
									<label for="user-phone" class="am-u-sm-3 am-form-label">电话</label>
									<div class="am-u-sm-9">
										<input type="tel" id="user-phone" placeholder="输入你的电话号码 / Telephone">
									</div>
								</div>-->

								<div class="am-form-group">
									<label for="user-QQ" class="am-u-sm-3 am-form-label">QQ</label>
									<div class="am-u-sm-9">
										<input type="number" readonly="readonly" pattern="[0-9]*" id="user-QQ" placeholder="输入你的QQ号码">
									</div>
								</div>

								<!--<div class="am-form-group">
									<label for="user-weibo" class="am-u-sm-3 am-form-label">微博</label>
									<div class="am-u-sm-9">
										<input type="text" id="user-weibo" placeholder="输入你的微博">
									</div>
								</div>-->

								<div class="am-form-group">
									<label for="user-intro" class="am-u-sm-3 am-form-label">简介</label>
									<div class="am-u-sm-9">
										<textarea class="" rows="5" id="user-intro" placeholder="输入个人简介"></textarea>
										<small>250字以内写出你的一生...</small>
									</div>
								</div>

								<div class="am-form-group">
									<div class="am-u-sm-9 am-u-sm-push-3">
										<button type="button" class="am-btn am-btn-primary" id="tijiao">保存修改</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="admin-content-body" style="display: none;">
					<table class="am-table am-table-bordered am-table-radius am-table-striped">
						<thead>
							<tr>
								<th>标题</th>
								<th>内容</th>
								<th>分类</th>
								<th>创建时间</th>
								<th>操作</th>
							</tr>
						</thead>
						<tbody id="listfile">
							<tr v-for="n in message.length">
								<td width="15%">{{message[n-1].bt}}</td>
								<td width="45%"><textarea readonly style="width: 100%;border: none; resize:none;">{{guo(message[n-1].file)}}</textarea></td>
								<td width="15%" v-if="message[n-1].lei=='3'">原创●新闻</td>
								<td width="15%" v-else-if="message[n-1].lei=='2'">生活百科</td>
								<td width="15%" v-else-if="message[n-1].lei=='1'">技术文章</td>
								<td width="15%" v-else></td>
								<td width="15%">{{message[n-1].sinTime}}</td>
								<td width="15%"><a v-bind:id="message[n-1].id" v-on:click="greet">删除</a></td>
							</tr>
							
						</tbody>
					</table>

				</div>
				<footer class="admin-content-footer">
					<hr>
					<p class="am-padding-left">© 2014 www.mefat.club developer likun.</p>
				</footer>

			</div>
			<!-- content end -->

		</div>

		<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

		<footer>
			<hr>
			<p class="am-padding-left">© 2014 www.mefat.club developer likun.</p>
		</footer>
		<script type="text/javascript">
		</script>
	</body>

</html>