<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="format-detection" content="telephone=no">
		<meta name="renderer" content="webkit">
		<meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="baidu_union_verify" content="c716b9fba7a7519a54f2d7f6b8301fb7">
		<link rel="alternate icon" type="image/png" href="images/meinv.jpg">
		<link rel="stylesheet" href="stylesheets/assets/css/amazeui.min.css" />
		<link rel="stylesheet" href="stylesheets/login.css" />
		<script type="text/javascript" src="javascripts/jquery-1.9.1.js"></script>
		<script type="text/javascript" src="stylesheets/assets/js/amazeui.js" ></script>
		<script type="text/javascript" src="javascripts/jquery.cookie.js" ></script>
		<style>
			.header {
				text-align: center;
			}
			
			.header h1 {
				font-size: 200%;
				color: #333;
				margin-top: 30px;
			}
			
			.header p {
				font-size: 14px;
			}
		</style>
	</head>

	<body>
		<div class="header">
			<div class="am-g">
				<h1>欢迎来到记忆的家</h1>
				<p>这里是梦的储存，延续<br/>当你的心无处落脚的时候，或许这里可以让你小憩片刻</p>
			</div>
			<hr />
		</div>
		<div class="am-g">
			<div class="am-u-lg-6 am-u-md-8 am-u-sm-centered">
				<h3>登录</h3>
				<hr>
				<!--<div class="am-btn-group">
      <a href="#" class="am-btn am-btn-secondary am-btn-sm"><i class="am-icon-github am-icon-sm"></i> Github</a>
      <a href="#" class="am-btn am-btn-success am-btn-sm"><i class="am-icon-google-plus-square am-icon-sm"></i> Google+</a>
      <a href="#" class="am-btn am-btn-primary am-btn-sm"><i class="am-icon-stack-overflow am-icon-sm"></i> stackOverflow</a>
    </div>-->
				<!--<br>
    <br>-->

				<div class="am-g am-container">
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12">
						<div class="am-input-group">
							<span class="am-input-group-label"><i class="am-icon-user am-icon-fw"></i></span>
							<input type="text" class="am-form-field" placeholder="Username" id="name">
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<div class="am-input-group">
							<span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
							<input type="password" class="am-form-field" placeholder="Password" id="pass">
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<!--<div class="am-input-group"><input type="checkbox" />记住账号</div>-->
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12">
						<button type="button" class="am-btn am-btn-primary am-btn-block" id="login">登录</button>
						<a style="float: right; margin-top: 10px;" id="wj">忘记密码？</a><a href="/" style="float: right; margin-top: 10px; margin-right: 20px;">返回首页</a>
					</div>
					
				</div>

				<hr>
			</div>
		</div>
		<div class="taost">
			<span class="am-icon-close Eclose"></span>
		<div class="am-g am-container Eject">
			<div class="am-u-lg-12 am-u-md-12 am-u-sm-12" style="margin: 10px 0px 10px 0px;">
				<div class="retitle">重置密码</div>
			</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12">
						<div class="am-input-group">
							<input type="text" class="am-form-field" placeholder="请输入你的邮箱" id="name1">
							<span class="am-input-group-btn">
                              <button class="am-btn am-btn-default" type="button" id="faso">发送验证码到邮箱</button>
                           </span>
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<div class="am-input-group">
							<span class="am-input-group-label"><i class="am-icon-lock am-icon-envira"></i></span>
							<input type="text" class="am-form-field" placeholder="请输入验证码" id="yzm">
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<div class="am-input-group">
							<span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
							<input type="password" class="am-form-field" placeholder="请输入新密码" id="repass">
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<div class="am-input-group">
							<span class="am-input-group-label"><i class="am-icon-lock am-icon-fw"></i></span>
							<input type="password" class="am-form-field" placeholder="请再次输入新密码" id="repass1">
						</div>
					</div>
					<div class="am-u-lg-12 am-u-md-12 am-u-sm-12 mir-top10">
						<button type="button" class="am-btn am-btn-primary am-btn-block" id="login1">确定</button>
					</div>
		    </div>
		</div>
		
		<script type="text/javascript">
			$(".Eclose").click(function(){
				$(".taost").hide();
				$('#name1').val("");
				$("#yzm").val("");
				$("#repass").val("");
				$("#repass1").val("");
			})
			$("#wj").click(function(){
				$(".taost").show();
			})
			$('#login').click(function() {
				var isname=$("#name").val();
				var ispass=$("#pass").val();
				var data={'name':isname,'pass':ispass}
				$.ajax({
					url: '/users/baozi',
					type: 'post',
					data: data,
					success: function(data) {
						
						if(data.message=="查找失败"){
							alert("用户名或密码错误")
						}else{
//							if(data[0].username!=null&&data[0].username!=''&&data[0].username!=undefined){
//								$.cookie("name",data[0].username);
//							}else{
	                        if(data[0].username!=null&&data[0].username!=""&&data[0].username!=undefined){
	                        	$.cookie("nicheng",data[0].username);
	                        }else{
	                        	$.cookie("nicheng","游客");
	                        }
								$.cookie("name",data[0].name);
//							}
							$.cookie("id",data[0].id);
							$.cookie("message",data[0].message);
							$.cookie("myurl",data[0].images);
							location.href="/"
						}

					},
					error: function(data) {
						if(status == 'error') {
							location.href = 'login';
						}
					}
				});
			});
			var gbq=0;
			$("#faso").click(function(){
				if(gbq==0){
				var isname = $("#name1").val();
//				var mm=/^\d+@qq\.com$/
                var mm=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
				if(!mm.test(isname)) {
					alert("账号必须是邮箱");return false;
				}
				var data = {
					"email": isname
				}
				$.ajax({
					url: '/users/refaso',
					type: 'post',
					data: data,
					success: function(data) {
						$("#faso").text("发送成功！(30)秒后可再次发送");
						gbq=1;
						var tm=29;
						var gh=setInterval(function(){
							$("#faso").text("发送成功！("+tm+")秒后可再次发送");
							if(tm==0){
								$("#faso").text("发送验证码到邮箱");
								gbq=0;
								clearInterval(gh);
							}
							tm--;
						},1000)
						//console.log()
//						$(".yzm").text(data)
//						if(data.length==0) {
//							alert("你输入的邮箱不正确")
//							return false;
//						}
					},
					error: function(data) {

					}
				});
				}
			})
			$("#login1").click(function(){
				var name=$('#name1').val();
				var yzm=$("#yzm").val();
				var repass=$("#repass").val();
				var repass1=$("#repass1").val();
				 var mm=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/
				if(!mm.test(name)) {
					alert("账号必须是邮箱");return false;
				}
				if(name==""||name==null||name==undefined) {
					alert("账号不能为空");return false;
				}
				if(yzm==""||yzm==null||yzm==undefined) {
					alert("验证码不能为空");return false;
				}if(repass==""||repass==null||repass==undefined) {
					alert("密码不能为空");return false;
				}
				
				if(repass!=repass1) {
					alert("两次密码不一致");return false;
				}
				var data={"name":name,"yzm":yzm,"pass":repass}
				$.ajax({
					url: '/users/chongzhi',
					type: 'post',
					data: data,
					success: function(data) {
						alert(data.message);
						if(data.message=="修改成功"){
							location.href = 'login';
						}
					},
					error: function(data) {

					}
				});
				
			})
		</script>
	</body>

</html>